@import "tailwindcss";

@font-face {
  font-family: 'Satoshi';
  src: url('/src/assets/Satoshi-Variable.ttf');
}

@font-face {
  font-family: 'Abel';
  src: url('/src/assets/Abel-Regular.ttf');
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Satoshi';
}

p {
  font-family: 'Abel';
}